.weather_container {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.weather_app {
  width: 450px;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  position: relative;
}

.weather_tem {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  background-image: url("https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
  background-size: cover;
  background-position: center;
}

.weather_tem_flex .tem_section {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffffa5;
  position: relative;
}

.tem_section sup {
  font-size: 2rem;
  position: absolute;
  top: -5px;
  padding-left: 5px;
}

.country_name,
.country_capital {
  font-size: 1.5rem;
  margin-top: -25px;
  color: #ffffffa5;
}

.country_name span {
  font-size: 1rem;
}

.country_capital {
  margin-top: -10px;
  font-size: 1rem;
}

.sun_img img {
  height: 100px;
}

.content_section {
  position: relative;
}

.custom-shape-divider-bottom-1664947435 .shape-fill {
  fill: #ffffff;
}

.day {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffffa5;
  padding: 0 10px;
}

.day_details {
  position: relative;
}

.day_name {
  font-size: 1.7rem;
}

.dayName{
  font-size: 1.5rem;
}

.day_details i {
  position: absolute;
  top: 32px;
  left: -20px;
  font-size: 1rem;
  font-weight: bold;
  color: green;
}

.fa-arrow-down {
  color: red !important;
}

.slider_wind {
  color: #ffffffa5;
  position: relative;
  margin-top: 10px;
  padding: 0 0px 0 35px;
  /* height: 150px; */

}

.kpm {
  width: 100%;
}

.kph_titel {
  font-size: 1.2rem;
  position: absolute;
  top: -10px;
  left: 10px;
}

.kph_titel_2 {
  font-size: 1rem;
  position: absolute;
  top: 70px;
  left: 15px;
}

.kpm img {
  height: 70px;
  margin: 25px 0 15px 0;
}

.swiper{
    height: 150px;
    /* background-color: red; */
}

.slider_wind .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px ;

}

.slider_wind .swiper-pagination-bullet{
    width: 30px ;
    height: 10px ;
    border-radius: 5px;
    background-color: rgb(255, 102, 0) ;
}

.slider_wind .swiper-pagination-bullet-active{
    width: 30px ;
    height: 10px ;
    border-radius: 5px;
    background-color: #FFFFFF ;
}

.slider_wind .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_app .search_button{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 5px 5px 10px;
  z-index: 10;
}

.search_button i{
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

button{
  border: none;
  outline: none;
}

.search_button i:hover{
  color: rgb(255, 255, 255);
  background-color: #ff4800;
}

.weather_app .form{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s ease;
}

.form input{
  width: 300px;
  padding: 10px;
  border: 2px solid green;
  text-transform: capitalize;
  outline: none;
}

.form button{
  background-color: transparent;
}
.form i{
  padding: 11px 10px;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px solid green;
  cursor: pointer;
  margin-left: -8px;
}



.form i:hover{
  background-color: #ff4800;
  color: #FFFFFF;
  
}

.region{
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 400px){
  .weather_app{
    width: 350px;
    margin: 0 auto;
  }

  .form input{
    width: 70%;
  }
}

